.page-destination {
  margin: 0;
  color: white;
  @include background-photo(
    "/assets/destination/background-destination-desktop.jpg"
  );
}

.destination-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.destination-subheading {
  @include subheading;
  margin-left: 12%;
}
.destination-heading__num {
  opacity: 0.4;
}
.destination-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 30%;
  gap: 20px;
}
.destination-photo {
  margin: 0;
  max-width: 24%;
  &__image {
    width: 100%;
    @include keyframes(rotate) {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    @include animate(rotate, 50s, 0s, both, linear, infinite, paused);
    &:hover {
      animation-play-state: running;
    }
  }
}
.destination-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}
.destination-list__link {
  text-decoration: none;
  color: $white-opacity;
  @include headings($secondary-font-family);
  font-size: $normal-text;

  padding: 10px 0px;

  &:hover {
    color: $white-pure;
  }
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
.destination-text__heading {
  @include keyframes(scaleIn) {
    0% {
      transform: scale(0.2);
    }

    100% {
      transform: scale(1);
    }
  }
  @include animate(scaleIn, 0.5s, 0s, both, linear, 1, running);
}

.destination-text {
  position: relative;
  padding-bottom: 40px;
}
.destination-line {
  @include lines;
  width: 100%;
  position: absolute;
  bottom: 0;
}
.destination-numbers {
  display: flex;
  @include headings($secondary-font-family);
  font-size: $smallest-heading;
  gap: 50px;
  color: $white-opacity;
}
.numbers {
  font-family: $primary-font-family;
  font-size: $small-heading;
  color: $white-pure;
}
.destination-text__heading {
  @include headings($primary-font-family);
  font-size: $bigger-heading;
  margin: 0;
}
.destination-text__paragraph {
  @include paragraphs;
}
.destination-distance {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.destination-time {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media (max-width: 1240px) {
  .destination-photo {
    max-width: 30%;
  }
}
@media (max-width: 1090px) {
  .destination-description {
    max-width: 40%;
  }
  .destination-photo {
    max-width: 32%;
  }
}

@media (max-width: 820px) {
  .destination-info {
    justify-content: center;
    gap: 30px;
  }
  .destination-subheading {
    font-size: 20px;
  }
  .numbers {
    font-size: 20px;
  }
  .destination-text__heading {
    font-size: $big-heading;
  }
  .destination-photo {
    max-width: 35%;
  }
}
@media (max-width: 768px) {
  .page-destination {
    @include background-photo(
      "/assets/destination/background-destination-tablet.jpg"
    );
  }
  .destination-info {
    flex-direction: column;
    text-align: center;
  }
  .destination-list {
    justify-content: center;
  }
  .destination-numbers {
    justify-content: center;
    margin-bottom: 50px;
  }
  .destination-subheading {
    margin: 3% 0% 3% 12%;
  }
  .destination-description {
    max-width: 80%;
  }
  .destination-photo__image {
    animation-play-state: running;
  }
  .numbers {
    font-size: $small-heading;
  }
  .destination-text__heading {
    font-size: $bigger-heading;
  }
}
@media (max-width: 500px) {
  .page-destination {
    @include background-photo(
      "/assets/destination/background-destination-mobile.jpg"
    );
  }
  .destination-text__heading {
    font-size: $big-heading;
  }
  .destination-subheading {
    font-size: $normal-text;
  }
  .destination-numbers {
    flex-direction: column;
    gap: 20px;
  }
  .destination-text {
    padding-bottom: 20px;
  }
  .destination-photo {
    max-width: 50%;
  }
  .numbers {
    font-size: $smaller-heading;
  }
}
