$primary-font-family: 'Bellefair', serif;
$secondary-font-family: 'Barlow', sans-serif;
$primary-black: #0A0C17;
$primary-violet:#D0D6F9;
$biggest-heading:150px;
$bigger-heading:100px;
$big-heading: 56px;
$small-heading: 32px;
$smaller-heading: 28px;
$smallest-heading:14px;
$normal-text:16px;
$white-opacity:rgba(255,255,255,0.8);
$white-pure:rgba(255,255,255,1);
