.header {
  font-family: "Barlow", sans-serif;
}

.header-menu {
  display: grid;
  padding: 40px 0px 40px 60px;
  grid-template-areas: "logo line nav";
  grid-template-columns: 1fr 2fr 3fr;
  align-items: center;
  position: relative;
}

.header-logo {
  grid-area: logo;
}

.header-line {
  position: absolute;
  height: 0.1px;
  opacity: 0.3;
  background-color: rgb(255, 255, 255);
  grid-area: line;
  width: 135%;
  left: -27%;
}

.header-navbar {
  grid-area: nav;
  background-color: rgba(255, 255, 255, 0.05);
}

.header-navbar__list {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px 0px 0px 90px;
}

.header-navbar__item {
  padding: 0px 10px;
}

.header-navbar__link {
  display: inline-block;
  position: relative;
  padding: 30px 0px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  border-bottom: 1px solid transparent;
  letter-spacing: 1.2px;
}
.header-navbar__link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.header-navbar__link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.sidenav {
  overflow: hidden;
  height: 100%;
  width: 0px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(10, 12, 23, 0.7);
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 10px;
}
.sidenav-container__link {
  font-weight: 100;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  text-decoration: none;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  transition: 0.3s;
}

.sidenav-close {
  align-self: flex-end;
  margin: -28px 31px 0 0;
  height: 25px;
  width: 2px;
  margin-left: 12px;
  background-color: rgba(255, 255, 255, 0.8);
  transform: rotate(45deg);
  z-index: 1;
}
.sidenav-close__btn {
  height: 25px;
  width: 2px;
  background-color: rgba(255, 255, 255, 0.8);
  transform: rotate(90deg);
  z-index: 2;
}

.sidenav-link__num {
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.active-nav {
  border-bottom: 1px solid white;
}

.header-menu__btn {
  display: none;
}

@media (max-width: 1220px) {
  .header-menu {
    grid-template-columns: 1fr 1fr 4fr;
  }
  .header-line {
    width: 170%;
    left: -60%;
  }
}
@media (max-width: 935px) {
  .header-line {
    display: none;
  }
  .header-menu {
    grid-template-areas: "logo nav";
    grid-template-columns: 1fr 4fr;
  }
}
@media (max-width: 781px) {
  .header-navbar__link {
    font-size: 14px;
  }
  .header-navbar__list {
    padding: 0;
    justify-content: space-evenly;
  }
  .header-menu {
    padding: 0px 0px 0px 30px;
    grid-template-columns: 2fr 4fr;
  }
  .header-navbar__number {
    display: none;
  }
}
@media (max-width: 500px) {
  .header-menu__btn {
    display: block;
  }
  .header-navbar {
    display: none;
  }
  .header-menu {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 20px;
  }
}
.page-home {
  margin: 0;
  color: rgb(255, 255, 255);
  background: url("/assets/home/background-home-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  min-width: 100vw;
}

.main-home {
  margin-top: 120px;
}

.main-container {
  display: flex;
  gap: 250px;
}

.main-text {
  margin-left: 11%;
  max-width: 35%;
}
.main-text__subheading {
  font-weight: 100;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  margin: 0;
  font-size: 28px;
  color: rgba(255, 255, 255, 0.8);
}
.main-text__heading {
  font-weight: 100;
  text-transform: uppercase;
  font-family: "Bellefair", serif;
  font-size: 150px;
  margin: 0px;
  animation: fade 5s 0s both linear 1 running;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main-text__paragraph {
  font-family: "Barlow", sans-serif;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  line-height: 1.7;
}

.main-button {
  align-self: flex-end;
}
.main-button__link {
  display: block;
  text-decoration: none;
  color: black;
  height: 250px;
  width: 250px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 100;
  text-transform: uppercase;
  font-family: "Bellefair", serif;
  font-size: 32px;
}
.main-button__link:hover {
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 0px 80px;
  transition: all 0.2s;
}

@media (max-width: 1025px) {
  .main-container {
    gap: 150px;
  }
  .main-text__heading {
    font-size: 120px;
  }
}
@media (max-width: 935px) {
  .main-home {
    margin-top: 90px;
  }
  .main-container {
    flex-direction: column;
    gap: 100px;
    justify-content: center;
    align-items: center;
  }
  .main-text {
    max-width: 55%;
    margin: 0;
    text-align: center;
  }
  .main-button {
    align-self: auto;
    margin-bottom: 50px;
  }
  .main-button__link {
    height: 200px;
    width: 200px;
  }
}
@media (max-width: 781px) {
  .page-home {
    background: url("/assets/home/background-home-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    min-width: 100vw;
  }
  .main-text {
    max-width: 70%;
  }
}
@media (max-width: 630px) {
  .main-text {
    max-width: 90%;
  }
}
@media (max-width: 500px) {
  .main-text__heading {
    font-size: 100px;
  }
}
@media (max-width: 425px) {
  .main-text__subheading {
    font-size: 16px;
  }
  .main-text__paragraph {
    font-size: 14px;
  }
  .main-button__link {
    height: 150px;
    width: 150px;
    font-size: 16px;
  }
  .page-home {
    background: url("/assets/home/background-home-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    min-width: 100vw;
  }
}
.page-destination {
  margin: 0;
  color: white;
  background: url("/assets/destination/background-destination-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  min-width: 100vw;
}

.destination-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.destination-subheading {
  font-weight: 100;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  font-size: 28px;
  margin: 0px 0px 2% 12%;
  margin-left: 12%;
}

.destination-heading__num {
  opacity: 0.4;
}

.destination-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 30%;
  gap: 20px;
}

.destination-photo {
  margin: 0;
  max-width: 24%;
}
.destination-photo__image {
  width: 100%;
  animation: rotate 50s 0s both linear infinite paused;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.destination-photo__image:hover {
  animation-play-state: running;
}

.destination-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.destination-list__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 100;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  font-size: 16px;
  padding: 10px 0px;
  position: relative;
}
.destination-list__link:hover {
  color: rgb(255, 255, 255);
}
.destination-list__link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.destination-list__link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.destination-text__heading {
  animation: scaleIn 0.5s 0s both linear 1 running;
}
@keyframes scaleIn {
  0% {
    transform: scale(0.2);
  }
  100% {
    transform: scale(1);
  }
}

.destination-text {
  position: relative;
  padding-bottom: 40px;
}

.destination-line {
  position: absolute;
  height: 0.1px;
  opacity: 0.3;
  background-color: rgb(255, 255, 255);
  width: 100%;
  position: absolute;
  bottom: 0;
}

.destination-numbers {
  display: flex;
  font-weight: 100;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  gap: 50px;
  color: rgba(255, 255, 255, 0.8);
}

.numbers {
  font-family: "Bellefair", serif;
  font-size: 32px;
  color: rgb(255, 255, 255);
}

.destination-text__heading {
  font-weight: 100;
  text-transform: uppercase;
  font-family: "Bellefair", serif;
  font-size: 100px;
  margin: 0;
}

.destination-text__paragraph {
  font-family: "Barlow", sans-serif;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  line-height: 1.7;
}

.destination-distance {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.destination-time {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (max-width: 1240px) {
  .destination-photo {
    max-width: 30%;
  }
}
@media (max-width: 1090px) {
  .destination-description {
    max-width: 40%;
  }
  .destination-photo {
    max-width: 32%;
  }
}
@media (max-width: 820px) {
  .destination-info {
    justify-content: center;
    gap: 30px;
  }
  .destination-subheading {
    font-size: 20px;
  }
  .numbers {
    font-size: 20px;
  }
  .destination-text__heading {
    font-size: 56px;
  }
  .destination-photo {
    max-width: 35%;
  }
}
@media (max-width: 768px) {
  .page-destination {
    background: url("/assets/destination/background-destination-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    min-width: 100vw;
  }
  .destination-info {
    flex-direction: column;
    text-align: center;
  }
  .destination-list {
    justify-content: center;
  }
  .destination-numbers {
    justify-content: center;
    margin-bottom: 50px;
  }
  .destination-subheading {
    margin: 3% 0% 3% 12%;
  }
  .destination-description {
    max-width: 80%;
  }
  .destination-photo__image {
    animation-play-state: running;
  }
  .numbers {
    font-size: 32px;
  }
  .destination-text__heading {
    font-size: 100px;
  }
}
@media (max-width: 500px) {
  .page-destination {
    background: url("/assets/destination/background-destination-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    min-width: 100vw;
  }
  .destination-text__heading {
    font-size: 56px;
  }
  .destination-subheading {
    font-size: 16px;
  }
  .destination-numbers {
    flex-direction: column;
    gap: 20px;
  }
  .destination-text {
    padding-bottom: 20px;
  }
  .destination-photo {
    max-width: 50%;
  }
  .numbers {
    font-size: 28px;
  }
}
.page-crew {
  background: url("/assets/crew/background-crew-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
}

.crew-subheading {
  font-weight: 100;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  font-size: 28px;
  margin: 0px 0px 2% 12%;
  margin-bottom: 0%;
  color: rgb(255, 255, 255);
}
.crew-subheading__num {
  opacity: 0.4;
}

.crew-info {
  display: flex;
  flex-direction: row-reverse;
  position: fixed;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  margin: 0% 12%;
}

.crew-photo {
  margin: 0;
}
.crew-photo__image {
  max-width: 90%;
}

.crew-nav {
  display: flex;
  gap: 15px;
  margin-top: 50px;
}
.crew-nav__link {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}
.crew-nav__link:hover {
  cursor: pointer;
  background: rgb(255, 255, 255);
  transition: all 0.5s;
}

.nav-link {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.active {
  background: rgb(255, 255, 255);
}

.crew-text {
  max-width: 55%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.crew-text__heading {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  color: rgb(255, 255, 255);
  font-weight: 100;
  text-transform: uppercase;
  font-family: "Bellefair", serif;
  font-size: 56px;
  animation: typing 1s 1s both steps(14) 1 running;
}
@keyframes typing {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
.crew-text__subheading {
  margin: 0;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 100;
  text-transform: uppercase;
  font-family: "Bellefair", serif;
  font-size: 32px;
}
.crew-text__paragraph {
  max-width: 75%;
  margin: 0;
  font-family: "Barlow", sans-serif;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  line-height: 1.7;
}

@media (max-width: 1451px) {
  .crew-info {
    justify-content: center;
    margin: 0;
  }
}
@media (max-width: 1120px) {
  .crew-info {
    max-height: 400px;
    justify-content: space-between;
    margin: 0% 12%;
  }
  .crew-subheading {
    font-size: 22px;
  }
  .crew-text__heading {
    font-size: 32px;
  }
  .crew-text__subheading {
    font-size: 14px;
  }
}
@media (max-width: 835px) {
  .crew-info {
    margin: 0% 8%;
  }
}
@media (max-width: 768px) {
  .page-crew {
    background: url("/assets/crew/background-crew-tablet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    min-width: 100vw;
  }
  .crew-info {
    flex-direction: column-reverse;
    margin: 0;
    max-height: 100%;
    gap: 40px;
  }
  .crew-photo {
    max-width: 20%;
  }
  .crew-text {
    text-align: center;
    max-width: 66%;
  }
  .crew-text__heading {
    margin: 0 auto;
    display: block;
  }
  .crew-text__paragraph {
    max-width: 100%;
  }
  .crew-nav {
    justify-content: center;
    margin-top: 0px;
  }
  .crew-photo {
    max-width: 25%;
  }
}
@media (max-width: 600px) {
  .crew-photo {
    max-width: 30%;
  }
}
@media (max-width: 526px) {
  .crew-text {
    max-width: 70%;
  }
}
@media (max-width: 500px) {
  .page-crew {
    background: url("/assets/crew/background-crew-mobile.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    min-width: 100vw;
  }
  .crew-info {
    flex-direction: column;
    margin-bottom: 15%;
    gap: 50px;
  }
  .crew-nav {
    position: absolute;
    margin: -30px auto;
    width: 100%;
  }
  .crew-text {
    max-width: 80%;
    position: relative;
  }
  .crew-text__heading {
    font-size: 28px;
  }
  .crew-text__paragraph {
    font-size: 14px;
  }
  .crew-photo {
    max-width: 36%;
    position: relative;
  }
  .crew-photo::after {
    content: "";
    position: absolute;
    height: 0.1px;
    opacity: 0.3;
    background-color: rgb(255, 255, 255);
    width: 200%;
    bottom: 0;
    left: -50%;
  }
}
@media (max-width: 390px) {
  .crew-text__heading {
    font-size: 22px;
  }
}
.page-technology {
  background: url("/assets/technology/background-technology-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
}

.tech-subheading {
  font-weight: 100;
  text-transform: uppercase;
  font-family: "Barlow", sans-serif;
  font-size: 28px;
  margin: 0px 0px 2% 12%;
  margin-bottom: 0%;
  color: rgb(255, 255, 255);
}
.tech-subheading__num {
  opacity: 0.4;
}

.tech-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.tech-text {
  max-width: 35%;
  color: rgb(255, 255, 255);
}
.tech-text__heading {
  font-weight: 100;
  text-transform: uppercase;
  font-family: "Bellefair", serif;
  font-size: 56px;
  margin: 0;
}
.tech-text__subheading {
  font-weight: 100;
  text-transform: uppercase;
  font-family: "Bellefair", serif;
  color: rgba(255, 255, 255, 0.8);
}
.tech-text__paragraph {
  font-family: "Barlow", sans-serif;
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  line-height: 1.7;
}

.tech-photo {
  margin: 0;
  animation: fade-in 2s ease-in-out 0s both 1 running;
  max-width: 50%;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.tech-photo__image {
  width: 100%;
  height: auto;
}

.tech-numbers {
  display: flex;
  flex-direction: column;
  margin-left: 12%;
  gap: 20px;
  font-size: 32px;
}
.tech-numbers__link {
  display: block;
  width: 80px;
  line-height: 80px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.tech-numbers__link:hover {
  color: rgb(10, 12, 23);
  background-color: rgb(255, 255, 255);
}

.active {
  color: rgb(10, 12, 23);
  background-color: rgb(255, 255, 255);
}

@media (max-width: 1200px) {
  .tech-numbers {
    margin-left: 3%;
  }
  .tech-photo {
    max-width: 40%;
  }
}
@media (max-width: 1000px) {
  .tech-numbers {
    margin-left: 2%;
  }
}
@media (max-width: 890px) {
  .tech-text__heading {
    font-size: 32px;
  }
  .tech-numbers__link {
    width: 70px;
    line-height: 70px;
  }
}
@media (max-width: 768px) {
  .page-technology {
    background: url("/assets/technology/background-technology-tablet.jpg");
  }
  .tech-info {
    flex-direction: column-reverse;
  }
  .tech-photo {
    min-width: 100%;
    margin-top: 20px;
    order: 3;
  }
  .tech-numbers {
    flex-direction: row;
    margin: 2% 0;
    order: 2;
  }
  .tech-text {
    order: 1;
    max-width: 60%;
    text-align: center;
    margin-bottom: 3%;
  }
  .tech-subheading {
    font-size: 22px;
  }
}
@media (max-width: 426px) {
  .page-technology {
    background: url("/assets/technology/background-technology-mobile.jpg");
  }
  .tech-text {
    max-width: 80%;
  }
  .tech-numbers__link {
    width: 50px;
    line-height: 50px;
  }
}/*# sourceMappingURL=styles.css.map */